<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 

<h1>Cadastro do Cliente</h1>

<h:form>

<h:inputText value="#{clienteController.cliente.nome}"/>
<h:inputText value="#{clienteController.cliente.email}"/>
<h:commandButton action="#{clienteController.salvar}" value ="Salvar"/>
</h:form>

</body> 
</html>
